{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Funciones del Trabajador{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Barra de navegación superior -->
    <header class="header-cosecha">
        <nav class="nav-container-cosecha">
            <h2 class="welcome-message-cosecha">Bienvenido Trabajador: {{ request.session.nombre_trabajador }}</h2>
            <div class="logout-button-cosecha">
                <a href="{% url 'ingreso_trabajador' %}" class="btn-logout-cosecha">Salir</a>
            </div>
        </nav>
    </header>

    <!-- Contenedor principal con barra lateral y contenido -->
    <div class="main-layout-cosecha">
        <!-- Barra lateral (sidebar) -->
        <nav class="sidebar-cosecha">
            <ul>
                {% block sidebar_links %}
                
                {% endblock %}
            </ul>
        </nav>

        <!-- Contenido principal -->
        <main class="main-container-cosecha" id="contenido">
            {% block content %}
            <!-- Este bloque se sobrescribirá en plantillas hijas -->
            {% endblock %}
        </main>
    </div>

</body>
</html>
