{% extends 'base_trabajador.html' %}

{% block title %}Cosecha - Funciones del Trabajador{% endblock %}
{% block sidebar_links %}
                <li><a href="{% url 'registrar_cosecha' %}" class="sidebar-link">Registrar Cosecha</a></li>
                <li><a href="{% url 'detalle_cosecha' %}" class="sidebar-link">Detalle Cosecha</a></li>
                <li><a href="{% url 'marcar_transportado' %}" class="sidebar-link">Cosecha Lista</a></li>
                <li><a href="{% url 'contract_status' %}" class="sidebar-link">Verificar Contrato</a></li>
{% endblock %}

{% block content %}
<section class="intro-section-cosecha">
    <h3>Sistema para Registro y Trazabilidad de Cosecha</h3>
    <p>Utilice las funciones en el menú lateral para registrar, consultar y verificar el estado de la cosecha. Aquí se mostrará la información relacionada con los procesos que realice.</p>
</section>
{% endblock %}

