{% if request.session.user_id %}
    <h1>Bienvenido, {{ nombre_usuario }}.</h1>
    <a href="{% url 'custom_logout' %}" class="btn-logout">Salir</a>
    <section class="intro-section-cosecha">
        <h3>Sistema para Registro y Trazabilidad de productos agricolas</h3>
        <p>Porfavor de esperar el Pallet o Caja que transportara.</p>
    </section>
{% endif %}
<style>
body {
    font-family: 'Arial', sans-serif;
    background-image: url('/static/css/ag1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #2E7D32; /* Verde oscuro */
    justify-content: center; 
    align-items: center; 
}
.btn-logout {
    position: absolute; 
    top: 20px; 
    left: 20px;
    background-color: #A1887F; 
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
    z-index: 1000; 
}
.btn-logout:hover {
    background-color: rgba(109, 76, 65); /* Café medio */
}

h1{
    font-size: 2.2em;
    margin-bottom: 20px;
    color: #359738;
    text-align: center;
    background-color: rgba(255,255,255, 0.4);
    border-radius: 15px;
    padding: 10px;   
}
.intro-section-cosecha h3{
    font-size: 1.8em;
    font-weight: 700;
    background-color: rgba(255,255,255, 0.4);
    color: #2E7D32;
    text-align: center;
    border-radius: 15px;
    padding: 10px; 
}
.intro-section-cosecha p{
    font-size: 16px;
    margin-bottom: 20px;
    background-color: rgba(255,255,255, 0.4);
    color: black;
    text-align: center;
    border-radius: 15px;
    padding: 10px 20px; 
}
</style>
