{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cliente{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
        <h1 >Bienvenido, {{ nombre_usuario }}</h1>
    <div class="contenedor-lista-d">
        <ul>
            <li><a class="lista-d">Pagar</a></li>
            <li><a class="lista-d">Historial Pagos</a></li>
        </ul>

        <main class="main-container-cosecha" id="contenido">
            {% block content %}
            <!-- Este bloque se sobrescribirá en plantillas hijas -->
            {% endblock %}
        </main>
    </div>
    <a href="{% url 'custom_logout' %}" class="btn-logout">Salir</a>
</body>
</html>
