<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Asegúrate de tener el archivo CSS -->
    <title>Dashboard Distribuidor</title>
</head>
<body>
    <h1>Distribuidor</h1>
    <div class="contenedor-lista-d">
        <ul>
            <li><a href="{% url 'recepciones_completadas' %}" class="lista-d">Pallet Recepcionado</a></li>
            <li><a href="{% url 'crear_empaque' %}" class="lista-d">Crear Empaque</a></li>
            <li><a href="{% url 'distribuir_caja' %}" class="lista-d">Distribuir Caja</a></li>
            <li><a href="{% url 'cajas_view' %}" class="lista-d">Caja Lista</a></li>
        </ul>
    </div>
    <a href="{% url 'custom_logout' %}" class="btn-logout">Salir</a>
</body>
</html>
