<!DOCTYPE html>
<html>
<head>
    <title>Detalle del Transporte</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="navbar">
        <a href="{% url 'home' %}">Inicio</a>
        <!-- Otros enlaces de navegación -->
    </div>

    <div class="container">
        <h1>Detalle del Transporte</h1>
        
        <div class="details-section">
            <h2>Información del Transporte</h2>
            <ul>
                <li><strong>ID del Transporte:</strong> {{ id_transporte }}</li>
                <li><strong>Fecha:</strong> {{ fecha }}</li>
                <li><strong>Destino:</strong> {{ destino }}</li>
                <li><strong>Transportista:</strong> {{ transportista }}</li>
                <li><strong>Estado:</strong> {{estado}}</li>
            </ul>
        </div>

        <div class="details-section">
            <h2>Detalles de la Cosecha</h2>
            <ul>
                <li><strong>ID de la Cosecha:</strong> {{ cosecha.id }}</li>
                <li><strong>Producto:</strong> {{ cosecha.producto }}</li>
                <li><strong>Fecha de Cosecha:</strong> {{ cosecha.fecha_cosecha }}</li>
                <li><strong>Ubicación:</strong> {{ cosecha.ubicacion }}</li>
                <li><strong>Cantidad del Lote:</strong> {{ cosecha.cantidad_lote }}</li>
                <li><strong>Cantidad de Agua:</strong> {{ cosecha.cantidad_agua }}</li>
                <li><strong>Pesticidas y Fertilizantes:</strong> {{ cosecha.pesticidas_fertilizantes }}</li>
                <li><strong>Prácticas de Cultivo:</strong> {{ cosecha.practicas_cultivo }}</li>
                <li><strong>Transportado:</strong> {{ cosecha.transportado }}</li>
            </ul>
        </div>
    </div>
</body>
</html>
