{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Plataforma de Seguimiento de Productos Agrícolas</title>
</head>
<body>
    <!-- Barra de navegación superior -->
    <header class="header-home">
        <h2>Plataforma de Seguimiento de Productos Agrícolas</h2>
    </header>

    <!-- Contenedor principal -->
    <main class="container-home">
        <section class="intro-home">
            <h1>Bienvenido a la Plataforma de Seguimiento de Productos Agrícolas</h1>
            <p>Seleccione cómo desea ingresar:</p>
        </section>

        <!-- Contenedor para los botones -->
        <section class="button-container-home">
            <a href="{% url 'ingreso_trabajador' %}" class="boton-home btn-trabajador">Trabajador</a>
            <a href="{% url 'registrar_cliente' %}" class="boton-home btn-cliente">Cliente</a>
        </section>
    </main>

</body>
</html>



