<!DOCTYPE html>
<html>
<head>
    <title>Ingresar Dirección de Billetera</title>
</head>
<body>
    <h1>Ingresar Dirección de Billetera</h1>
    <form method="post">
        {% csrf_token %}
        <label for="direccion_billetera">Dirección de Billetera:</label>
        <input type="text" id="direccion_billetera" name="direccion_billetera" required>
        <input type="hidden" name="cosecha_id" value="{{ request.GET.cosecha_id }}">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
