<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Asegúrate de tener el archivo CSS -->
    <title>Recepciones Completadas</title>
</head>
<body>
   
    <div class="container-tablas">
        <h1>Recepciones Completadas</h1>
        <table>
            <thead>
                <tr>
                    <th>ID Recepción</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for recepcion in recepciones %}
                <tr>
                    <td>{{ recepcion.id }}</td>
                    <td>{{ recepcion.fecha_recepcion }}</td>
                    <td>{{ recepcion.estado_recepcion }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Botones fuera del contenedor -->
    <div class="acciones">
        <a href="{% url 'crear_empaque' %}" class="btn-submit">Crear Empaque</a>
        <a href="{% url 'distribuir_caja' %}" class="btn-submit">Distribuir Caja</a>
    </div>
</body>
</html>
