{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Cosecha</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container-registrarC">
        <h1 class="title-registrarC">Registrar Cosecha</h1>
        
        <form method="post" action="{% url 'registrar_cosecha' %}" class="form-registrarC">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-registrarC">Registrar</button>
        </form>

        <a href="{% url 'cosecha' %}" class="link-home">Regresar</a>
    </div>
</body>
</html>
