<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cosecha Registrada Exitosamente</title>
</head>
<body>
    <h1>Trabajador {{ trabajador.nombre }} ha registrado una cosecha exitosamente</h1>
    <p>Producto: {{ cosecha.producto }}</p>
    <p>Fecha de Cosecha: {{ cosecha.fecha_cosecha }}</p>
    <p>Ubicación: {{ cosecha.ubicacion }}</p>
    <p>Cantidad de Lote: {{ cosecha.cantidad_lote }}</p>
    <p>Cantidad de Agua: {{ cosecha.cantidad_agua }}</p>
    <p>Pesticidas/Fertilizantes: {{ cosecha.pesticidas_fertilizantes }}</p>
    <p>Prácticas de Cultivo: {{ cosecha.practicas_cultivo }}</p>

    {% if cosecha.qr_code %}
        <img src="{{ cosecha.qr_code.url }}" alt="Código QR">
    {% else %}
        <p>No se generó un QR para esta cosecha.</p>
    {% endif %}
    <a href="{% url 'home' %}">Volver a Inicio</a>
</body>
</html>
