<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Transporte</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<div class="container-registrarC">
    <h1 class="titulo-registrarC">Registrar Transporte</h1>

    <form method="POST" class="form-registrarC">
        {% csrf_token %}
        
        <label for="productoSelect" class="label-registrarC">Selecciona una cosecha para transportar:</label>
        <select id="productoSelect" name="id_cosecha" class="input-registrarC" required>
            <option value="">-- Selecciona una cosecha --</option>
            {% for producto in productos_transportados %}
            <option value="{{ producto.id }}">{{ producto.nombre_producto }} (ID: {{ producto.id }})</option>
            {% endfor %}
        </select>

        <label for="fecha" class="label-registrarC">Fecha:</label>
        <input type="date" id="fecha" name="fecha" class="input-registrarC" required>

        <label for="destino" class="label-registrarC">Destino:</label>
        <input type="text" id="destino" name="destino" class="input-registrarC" required>

        <label for="transportista" class="label-registrarC">Transportista:</label>
        <input type="text" id="transportista" name="transportista" class="input-registrarC" required>

        <button type="submit" class="btn-registrarC">Registrar Transporte</button>
    </form>
    <a href="{% url 'transporte' %}" class="link-home">Regresar</a>
</div>

</body>
</html>


