<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Recepción</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        body {
            margin: 20px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Registrar Recepción</h1>

        <div class="card mt-3">
            <div class="card-body">
                <h4 class="card-title">Detalles del Pallet</h4>
                <p><strong>ID del Pallet:</strong> {{ pallet.id }}</p>
                <p><strong>Producto:</strong> {{ pallet.producto }}</p>
                <p><strong>Cantidad:</strong> {{ pallet.cantidad }}</p>
                <p><strong>Peso:</strong> {{ pallet.peso }}</p>
                <p><strong>Peso Recibido:</strong> {{ dp.peso_enviado }}</p>
                <p><strong>Fecha de Envío:</strong> {{ envio_pallet.fecha_inicio }}</p>
            </div>
        </div>

        <div class="mt-4">
            <h4>Actualizar Estado de Recepción</h4>
            <form method="post" action="{% url 'registrar_recepcion' secure_id %}" id="recepcionForm">
                {% csrf_token %}
                {{ form.as_p }} 
                <button id="confirmar" type="submit" class="btn btn-secondary mt-2">Confirmar Pesaje y Finalizar Entrega</button>
            </form>

            <!-- Formulario para finalizar la entrega (oculto) -->
            <form id="endDeliveryForm" method="POST" action="{% url 'finalizar_entrega' secure_id %}" style="display: none;">
                {% csrf_token %}
                <input type="hidden" name="ruta_final_latitude" id="ruta_final_latitude">
                <input type="hidden" name="ruta_final_longitude" id="ruta_final_longitude">
                <input type="hidden" name="transporte_latitude" id="transporte_latitude">
                <input type="hidden" name="transporte_longitude" id="transporte_longitude">
                <input type="hidden" name="envio_id" id="envio_id" value="{{ envio_pallet.id }}">
                <input type="hidden" name="id_pallet" id="id_pallet" value="{{ pallet.id }}">
                <input type="hidden" name="coordenadasTransporte" id="coordenadasTransporte">
            </form>
        </div>
    </div>

    <script src="{% static 'java/transporte_caja.js' %}"></script>
    <script>
        $(document).ready(function() {
            // Al enviar el formulario de recepción
            $('#recepcionForm').on('submit', function(e) {
                e.preventDefault();  // Evitar el envío inmediato del formulario
                
                // Confirmar Pesaje
                const form = $(this);
                $.ajax({
                    type: form.attr('method'),
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: function(response) {
                        console.log("Pesaje confirmado exitosamente");
    
                        // Llamamos a la función finalizarEntrega para gestionar las coordenadas y finalizar la entrega
                        finalizarEntrega();
                    },
                    error: function(xhr, status, error) {
                        console.error("Error al confirmar el pesaje:", error);
                    }
                });
            });
        });
    </script>
   
    
</body>
</html>
