{% extends 'base_trabajador.html' %}

{% block title %}Transporte - Funciones del Trabajador{% endblock %}
{% block sidebar_links %}
                <li><a href="{% url 'registrar_transporte' %}" class="sidebar-link">Registrar Transporte</a></li>
                <li><a href="{% url 'lista_transporte' %}" class="sidebar-link">Lista Transporte</a></li>
                <li><a href="{% url 'contract_status' %}" class="sidebar-link">Verificar Contrato</a></li>
{% endblock %}

{% block content %}
<section class="intro-section-cosecha">
    <h3>Sistema para Registro y Trazabilidad de Transporte</h3>
    <p>Utilice las funciones en el menú lateral para registrar, consultar y verificar el estado de transporte. Aquí se mostrará la información relacionada con los procesos que realice.</p>
</section>
{% endblock %}
