{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
  {{ block.super }}
  {% if show_map %}
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.6.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.6.0/mapbox-gl.css" rel="stylesheet">
    <script src="{% static 'java/admin_map.js' %}"></script>
  {% endif %}
{% endblock %}

{% block content %}
  {{ block.super }}
  {% if show_map %}
    <div id="map-{{ original.id }}" data-latitude="{{ original.latitude }}" data-longitude="{{ original.longitude }}" style="height: 300px; width: 100%;"></div>
  {% endif %}
{% endblock %}

